<!DOCTYPE html>
<html>
<head>
  <title>Golfersguide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>

<div id="menu" style="left: -100%">
	<i id="close" onmousedown="openMenu();" class="fa fa-times" aria-hidden="true"></i>
  <h5>Menu</h5>
  <hr>
  <ul>
    <li><a href="#">Sell Equipment</a></li>
    <li><a href="#">How it Works</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Advertising</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <h5>Made with <i class="fa fa-heart" aria-hidden="true"></i> in South Africa<br>©Copyright Golfersguide 2016</h5>
</div>

<div class="grid-full nav">
  <div class="grid">
    <div class="column" style="width: 25%;">
      <nav class="left-text">
        <ul>
          <li><a href=""><img style="width:20px; margin-bottom:-5px;" src="assets/cloudy.svg" alt=""> 15°C</a></li>
        </ul>
      </nav>
    </div>
    <div class="column" style="width: 50%"><h4 id="logo"><%= link_to "Golfersguide", root_path  %></h4></div>
    <div class="column" style="width: 25%;">
      <nav class="right-text">
        <ul>
          <li><i id="open" onmousedown="openMenu();" class="fa fa-bars" aria-hidden="true"></i></li>
        </ul>
      </nav>
    </div>
    <nav class="secondary-nav">
      <ul>
        <li><a class="current" href="golferguide.html">Buy Equipment</a></li>
        <li><a href="golferguide_new.html">Sell Equipment</a></li>
        <li><a href="golferguide_howitworks.html">How It Works</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="grid">
  <div class="column-12-12">
    <div class="banner">
      <%= image_tag "golfbag.png", alt: "golfbag" %>
      <h3>Buy and sell used golf equipment for free</h3>
      <p>Quick and easy way of finding buyers</p>
      <a href="golferguide_new.html" class="button">Create Ad</a>
      <div class="clearfix"></div>
    </div>
    <hr>
    <h3 style="float:left;">Today latest</h3>
    <span class="filters">
      <select class="select">
        <option value="item1">Location</option>
        <option value="item2">Randburg</option>
        <option value="item3">Rosebank</option>
        <option value="item4">Santon</option>
      </select>
      <select class="select">
        <option value="item1">Type</option>
        <option value="item2">Gloves</option>
        <option value="item3">Shoes</option>
        <option value="item4">Sticks</option>
        <option value="item3">Bags</option>
        <option value="item4">Carts</option>
      </select>
      <select class="select">
        <option value="item1">Price</option>
        <option value="item2">R100 - R500</option>
        <option value="item3">R500 - 1000</option>
        <option value="item4">R1000 - R1500</option>
        <option value="item2">R1500 - R2000</option>
        <option value="item3">R2000 - R2500</option>
        <option value="item4">R2500 - R3000</option>
        <option value="item4">R3000 +</option>
      </select>
      <div class="clearfix"></div>
    </span>
    <hr>
  </div>

  <%= yield %>

</div>

<div class="grid">
    <hr>
    <div class="pagination">
      <span class="previous_page disabled">← Previous</span>
      <em class="current">1</em>
      <a rel="next" href="/adverts?page=2">2</a>
      <a href="/adverts?page=3">3</a>
      <a href="/adverts?page=4">4</a>
      <a class="next_page" rel="next" href="/adverts?page=2">Next →</a>
    </div>
  </div>

  <footer>
    <div class="grid">
      <h5>Made with <i class="fa fa-heart" aria-hidden="true"></i> in South Africa</h5>
      <h5>©Copyright Golfersguide 2016</h5>
    </div>
  </footer>

</body>
</html>
